@tailwind base;
@tailwind components;
@tailwind utilities;


#bg {
	z-index: -10;
	background: linear-gradient(190deg,white, #7025e982,  #ee765293,  white);
	background-size: 200% 100%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}